nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: antiquewhite;
    align-items: center;
    color: rgb(77, 56, 28);
}

nav a{
    color: rgb(77, 56, 28);
    text-decoration: none;
}

nav a:hover{
    color: rgb(203, 131, 37);
}

.nav-link{
    color: rgb(77, 56, 28);
}

.nav-link:hover{
    color: rgb(203, 131, 37);
}

.btn-primary {
    --bs-btn-color: rgb(77, 56, 28);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: rgb(203, 131, 37);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: antiquewhite;
    --bs-btn-active-bg: rgb(77, 56, 28);
    --bs-btn-active-border-color: none;
}

.btn-primary:hover{
    background-color: none;
}

.bg-danger{
    background-color: rgb(203, 131, 37)!important;
}

.msg{
    margin-top: 3em;
    text-align: center;
}